body {
  background-color: rgb(250, 252, 85);
  line-height: 1.5;
  font-family: fantasy;
  font-size: 16pt;
  padding: 10px 20px;
  background: url(../images/psychicKitty.jpg) no-repeat;
  background-size: cover;
}

h1 {
  font-size: 30pt;
  font-weight: bolder;
  margin: 10px 0;
}
h2 {
  font-size: 18pt;
}
#wins,
#losses,
#guesses,
#yourGuesses {
  color: darkblue;
}
